<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
  <a class="navbar-brand" [routerLink]="['']" routerLinkActive="active">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['']" routerLinkActive="active">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['avisos']" routerLinkActive="active">Avisos</a>
      </li>
      <li ngbDropdown class="nav-item">
        <a href="#" class="nav-link dropdown-toggle" id="dropdown01" ngbDropdownToggle>Dropdown</a>
        <div ngbDropdownMenu aria-labelledby="dropdown01">
          <a ngbDropdownItem href="#">Action</a>
          <a ngbDropdownItem href="#">Another action</a>
          <a ngbDropdownItem href="#">Something else here</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<main role="main" class="container-fluid">
  <router-outlet></router-outlet>
</main>